* {
    font-family: 'Gloock', serif;
    background-color: #cabfab;
    margin: 0%;
}

.h1-home {
    font-size: 50px;
    position: absolute;
    margin-left: 820px;
    margin-top: 70px;
}

.green-leaf-plant {
    height: 820px;
    width: 600px;
    position: absolute;
    justify-content: end;
}

.signInUpForm {
    width: 350px;
    height: 350px;
    /* background-color: #617166; */
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    font-size: larger;
    margin-left: 860px;
    margin-top: 250px;
}

#signInEmail {
    border-color: black;
    border-style: solid;
    size: 60;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

#passwordInput {
    border-color: black;
    border-style: solid;
    size: 60;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

#loginBtn {
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

#signUpName {
    border-color: black;
    border-style: solid;
    size: 60;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

#signUpEmail {
    border-color: black;
    border-style: solid;
    size: 60;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

#signUpBtn {
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

#passwordSignUpInput {
    border-color: black;
    border-style: solid;
    size: 60;
    border-radius: 12px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}